/**
 * Bitergia theme for reveal.js. Based on black theme.
 *
 * By J. Manrique López, http://jsmanrique.es
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
//@import url(../../lib/font/source-sans-pro/source-sans-pro.css);

@import url('https://fonts.googleapis.com/css?family=Barlow');

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #111;

$mainColor: #eee;
$headingColor: #fff;

$mainFontSize: 36px;
$mainFont: Barlow, Helvetica, sans-serif;
$headingFont: Barlow, Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #f90;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.0em;
$heading2Size: 1.4em;
$heading3Size: 1.2em;
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Override theme template (see ../template/theme.scss)
// SVG encoder used: https://codepen.io/yoksel/details/JDqvs

body.bitergia {
	background-image: 
		url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%27146.492%27%20height%3D%27136.635%27%3E%3Cpath%20d%3D%27M70.197%2036.895a23.443%2019.697%200%200%201-46.886%200%2023.443%2019.697%200%201%201%2046.886%200z%27%20fill%3D%27%23fff%27%20stroke%3D%27%23fff%27%20stroke-width%3D%277.575%27%20stroke-linejoin%3D%27round%27/%3E%3Cpath%20d%3D%27M55.685%2036.895a8.652%207.879%200%201%201-17.303%200%208.652%207.879%200%201%201%2017.303%200z%27%20stroke%3D%27%23000%27%20stroke-width%3D%277.575%27%20stroke-linejoin%3D%27round%27/%3E%3Cpath%20d%3D%27M45.638%2035.418a1.395%201.97%200%201%201-2.791%200%201.395%201.97%200%201%201%202.79%200zM123.36%2036.895a23.443%2019.697%200%200%201-46.886%200%2023.443%2019.697%200%201%201%2046.886%200z%27%20fill%3D%27%23fff%27%20stroke%3D%27%23fff%27%20stroke-width%3D%277.575%27%20stroke-linejoin%3D%27round%27/%3E%3Cpath%20d%3D%27M108.848%2036.895a8.652%207.879%200%201%201-17.303%200%208.652%207.879%200%201%201%2017.303%200z%27%20stroke%3D%27%23000%27%20stroke-width%3D%277.575%27%20stroke-linejoin%3D%27round%27/%3E%3Cpath%20d%3D%27M98.8%2035.418a1.395%201.97%200%201%201-2.79%200%201.395%201.97%200%201%201%202.79%200z%27%20fill%3D%27%23fff%27%20stroke%3D%27%23fff%27%20stroke-width%3D%277.575%27%20stroke-linejoin%3D%27round%27/%3E%3Cpath%20d%3D%27M105.604%2081.174c0%2012.408-14.427%2053.159-32.224%2053.159-17.796%200-32.223-40.751-32.223-53.16%200-12.407%2014.427-22.465%2032.223-22.465%2017.797%200%2032.224%2010.058%2032.224%2022.466z%27%20fill%3D%27%23fff%27%20stroke%3D%27%23fff%27%20stroke-width%3D%274.604%27%20stroke-linejoin%3D%27round%27/%3E%3Cpath%20d%3D%27M84.532%2052.211h-21.47l5.368%205.635%205.367%205.635%205.368-5.635z%27%20fill%3D%27%23fff%27%20stroke%3D%27%23fff%27%20stroke-width%3D%27.713%27%20stroke-linejoin%3D%27round%27/%3E%3Cpath%20d%3D%27M94.085%2015.1L144.32%201.712c3.546%2017.573-33.66%2017.04-50.793%2017.04zM52.41%2015.1L2.177%201.712c-3.547%2017.573%2033.66%2017.04%2050.793%2017.04z%27%20fill%3D%27%23fff%27%20stroke%3D%27%23fff%27%20stroke-width%3D%271.748%27%20stroke-linejoin%3D%27round%27/%3E%3Cpath%20d%3D%27M57.06%20132.254a3.417%203.015%200%200%201-6.835%200%203.417%203.015%200%201%201%206.835%200zM63.895%20132.254a3.417%203.015%200%200%201-6.835%200%203.417%203.015%200%201%201%206.835%200zM70.73%20132.254a3.417%203.015%200%200%201-6.835%200%203.417%203.015%200%201%201%206.835%200zM85.767%20132.254a3.417%203.015%200%200%201-6.835%200%203.417%203.015%200%201%201%206.835%200zM92.602%20132.254a3.417%203.015%200%200%201-6.835%200%203.417%203.015%200%201%201%206.835%200zM99.437%20132.254a3.417%203.015%200%200%201-6.835%200%203.417%203.015%200%201%201%206.835%200z%27%20fill%3D%27orange%27/%3E%3Cpath%20d%3D%27M73.19%2043.644c-1.807%202.439-2.88%205.49-5.091%207.757-1.351.963-4.13-.5-5.31.94A111.61%20111.61%200%200%200%2073.67%2063.788c2.239-1.204%203.81-3.707%205.742-5.43%201.754-2.021%203.972-3.828%205.381-6.042-1.279-1.219-3.608-.28-5.25-.708-2.717-.924-3.519-4.298-5.017-6.461-.406-.46-.6-1.534-1.336-1.503z%27%20style%3D%27marker%3Anone%27%20color%3D%27%23000%27%20overflow%3D%27visible%27%20fill%3D%27orange%27/%3E%3Cpath%20d%3D%27M43.854%2060.072c-6.845-.806-13.593-3.983-17.833-8.397-6.969-7.252-8.141-17.031-3.067-25.581.8-1.348%202.627-3.557%204.06-4.91%201.434-1.352%202.383-2.459%202.108-2.459-1.16%200-7.244-.855-9.913-1.393-11.852-2.39-17.842-6.86-17.842-13.314%200-1.244.167-2.429.37-2.632.237-.237%208.973%201.904%2024.228%205.937%2013.122%203.47%2025.504%206.69%2027.516%207.158%202.012.468%205.131%201.566%206.932%202.44%205.769%202.8%2011.39%209.31%2012.515%2014.496l.289%201.333.847-2.339c1.732-4.784%204.54-8.41%208.95-11.56%202.976-2.125%205.947-3.343%2011.215-4.6%202.263-.54%2014.495-3.749%2027.184-7.13%2018.023-4.803%2023.14-6.039%2023.388-5.647.174.275.32%201.463.323%202.639.017%206.209-5.93%2010.751-17.13%2013.083-3.02.628-9.159%201.529-10.423%201.529-.237%200%20.971%201.43%202.685%203.18%203.562%203.632%205.324%206.782%206.256%2011.18%201.905%208.993-3.277%2018.75-12.484%2023.503-8.66%204.47-18.284%204.696-26.852.628-4.453-2.114-4.33-1.97-3.079-3.61.588-.77.958-1.51.823-1.645-.134-.135-1.521-.35-3.082-.477-1.56-.127-3.13-.475-3.488-.771-.952-.79-3.745-5.693-4.513-7.92-.372-1.083-.674-1.566-.69-1.104-.037%201.149-2.83%206.586-4.274%208.324-1.084%201.305-1.38%201.444-3.066%201.444-3.159%200-3.767.57-2.288%202.145l.795.847-1.176.837c-1.839%201.31-6.52%203.32-9.272%203.984-2.692.649-7.823%201.06-10.012.802zm8.433-7.856c6.137-1.47%2010.634-4.817%2012.899-9.596%201.046-2.208%201.195-2.932%201.195-5.804%200-2.92-.137-3.56-1.245-5.811-3.044-6.183-10.15-10.076-18.394-10.076-8.242%200-15.35%203.893-18.393%2010.075-1.107%202.25-1.244%202.89-1.245%205.81%200%202.874.148%203.597%201.195%205.806%202.232%204.709%206.748%208.11%2012.717%209.577%203.95.97%207.281.976%2011.27.02zm53.091.012c5.33-1.278%209.368-3.821%2011.74-7.395%207.292-10.985-2.017-23.886-17.235-23.886-14.028%200-23.486%2011.29-18.31%2021.855%202.245%204.582%206.783%207.97%2012.583%209.394%203.937.968%207.28.977%2011.222.032z%27%20fill%3D%27none%27%20stroke%3D%27%23fff%27%20stroke-width%3D%272.735%27/%3E%3C/svg%3E"),
		url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='200' height='48'><text x='0' y='38' font-family='Gentium, serif' font-size='48' stroke='white' fill='white'>Bitergia</text></svg>");
    background-size: 2%, 6%, 6%;
    background-repeat: no-repeat;
    background-position: 1% 98%, 3% 98%, 50% 98%;
}

body.bitergia-cc {
	background-image: 
		url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%27146.492%27%20height%3D%27136.635%27%3E%3Cpath%20d%3D%27M70.197%2036.895a23.443%2019.697%200%200%201-46.886%200%2023.443%2019.697%200%201%201%2046.886%200z%27%20fill%3D%27%23fff%27%20stroke%3D%27%23fff%27%20stroke-width%3D%277.575%27%20stroke-linejoin%3D%27round%27/%3E%3Cpath%20d%3D%27M55.685%2036.895a8.652%207.879%200%201%201-17.303%200%208.652%207.879%200%201%201%2017.303%200z%27%20stroke%3D%27%23000%27%20stroke-width%3D%277.575%27%20stroke-linejoin%3D%27round%27/%3E%3Cpath%20d%3D%27M45.638%2035.418a1.395%201.97%200%201%201-2.791%200%201.395%201.97%200%201%201%202.79%200zM123.36%2036.895a23.443%2019.697%200%200%201-46.886%200%2023.443%2019.697%200%201%201%2046.886%200z%27%20fill%3D%27%23fff%27%20stroke%3D%27%23fff%27%20stroke-width%3D%277.575%27%20stroke-linejoin%3D%27round%27/%3E%3Cpath%20d%3D%27M108.848%2036.895a8.652%207.879%200%201%201-17.303%200%208.652%207.879%200%201%201%2017.303%200z%27%20stroke%3D%27%23000%27%20stroke-width%3D%277.575%27%20stroke-linejoin%3D%27round%27/%3E%3Cpath%20d%3D%27M98.8%2035.418a1.395%201.97%200%201%201-2.79%200%201.395%201.97%200%201%201%202.79%200z%27%20fill%3D%27%23fff%27%20stroke%3D%27%23fff%27%20stroke-width%3D%277.575%27%20stroke-linejoin%3D%27round%27/%3E%3Cpath%20d%3D%27M105.604%2081.174c0%2012.408-14.427%2053.159-32.224%2053.159-17.796%200-32.223-40.751-32.223-53.16%200-12.407%2014.427-22.465%2032.223-22.465%2017.797%200%2032.224%2010.058%2032.224%2022.466z%27%20fill%3D%27%23fff%27%20stroke%3D%27%23fff%27%20stroke-width%3D%274.604%27%20stroke-linejoin%3D%27round%27/%3E%3Cpath%20d%3D%27M84.532%2052.211h-21.47l5.368%205.635%205.367%205.635%205.368-5.635z%27%20fill%3D%27%23fff%27%20stroke%3D%27%23fff%27%20stroke-width%3D%27.713%27%20stroke-linejoin%3D%27round%27/%3E%3Cpath%20d%3D%27M94.085%2015.1L144.32%201.712c3.546%2017.573-33.66%2017.04-50.793%2017.04zM52.41%2015.1L2.177%201.712c-3.547%2017.573%2033.66%2017.04%2050.793%2017.04z%27%20fill%3D%27%23fff%27%20stroke%3D%27%23fff%27%20stroke-width%3D%271.748%27%20stroke-linejoin%3D%27round%27/%3E%3Cpath%20d%3D%27M57.06%20132.254a3.417%203.015%200%200%201-6.835%200%203.417%203.015%200%201%201%206.835%200zM63.895%20132.254a3.417%203.015%200%200%201-6.835%200%203.417%203.015%200%201%201%206.835%200zM70.73%20132.254a3.417%203.015%200%200%201-6.835%200%203.417%203.015%200%201%201%206.835%200zM85.767%20132.254a3.417%203.015%200%200%201-6.835%200%203.417%203.015%200%201%201%206.835%200zM92.602%20132.254a3.417%203.015%200%200%201-6.835%200%203.417%203.015%200%201%201%206.835%200zM99.437%20132.254a3.417%203.015%200%200%201-6.835%200%203.417%203.015%200%201%201%206.835%200z%27%20fill%3D%27orange%27/%3E%3Cpath%20d%3D%27M73.19%2043.644c-1.807%202.439-2.88%205.49-5.091%207.757-1.351.963-4.13-.5-5.31.94A111.61%20111.61%200%200%200%2073.67%2063.788c2.239-1.204%203.81-3.707%205.742-5.43%201.754-2.021%203.972-3.828%205.381-6.042-1.279-1.219-3.608-.28-5.25-.708-2.717-.924-3.519-4.298-5.017-6.461-.406-.46-.6-1.534-1.336-1.503z%27%20style%3D%27marker%3Anone%27%20color%3D%27%23000%27%20overflow%3D%27visible%27%20fill%3D%27orange%27/%3E%3Cpath%20d%3D%27M43.854%2060.072c-6.845-.806-13.593-3.983-17.833-8.397-6.969-7.252-8.141-17.031-3.067-25.581.8-1.348%202.627-3.557%204.06-4.91%201.434-1.352%202.383-2.459%202.108-2.459-1.16%200-7.244-.855-9.913-1.393-11.852-2.39-17.842-6.86-17.842-13.314%200-1.244.167-2.429.37-2.632.237-.237%208.973%201.904%2024.228%205.937%2013.122%203.47%2025.504%206.69%2027.516%207.158%202.012.468%205.131%201.566%206.932%202.44%205.769%202.8%2011.39%209.31%2012.515%2014.496l.289%201.333.847-2.339c1.732-4.784%204.54-8.41%208.95-11.56%202.976-2.125%205.947-3.343%2011.215-4.6%202.263-.54%2014.495-3.749%2027.184-7.13%2018.023-4.803%2023.14-6.039%2023.388-5.647.174.275.32%201.463.323%202.639.017%206.209-5.93%2010.751-17.13%2013.083-3.02.628-9.159%201.529-10.423%201.529-.237%200%20.971%201.43%202.685%203.18%203.562%203.632%205.324%206.782%206.256%2011.18%201.905%208.993-3.277%2018.75-12.484%2023.503-8.66%204.47-18.284%204.696-26.852.628-4.453-2.114-4.33-1.97-3.079-3.61.588-.77.958-1.51.823-1.645-.134-.135-1.521-.35-3.082-.477-1.56-.127-3.13-.475-3.488-.771-.952-.79-3.745-5.693-4.513-7.92-.372-1.083-.674-1.566-.69-1.104-.037%201.149-2.83%206.586-4.274%208.324-1.084%201.305-1.38%201.444-3.066%201.444-3.159%200-3.767.57-2.288%202.145l.795.847-1.176.837c-1.839%201.31-6.52%203.32-9.272%203.984-2.692.649-7.823%201.06-10.012.802zm8.433-7.856c6.137-1.47%2010.634-4.817%2012.899-9.596%201.046-2.208%201.195-2.932%201.195-5.804%200-2.92-.137-3.56-1.245-5.811-3.044-6.183-10.15-10.076-18.394-10.076-8.242%200-15.35%203.893-18.393%2010.075-1.107%202.25-1.244%202.89-1.245%205.81%200%202.874.148%203.597%201.195%205.806%202.232%204.709%206.748%208.11%2012.717%209.577%203.95.97%207.281.976%2011.27.02zm53.091.012c5.33-1.278%209.368-3.821%2011.74-7.395%207.292-10.985-2.017-23.886-17.235-23.886-14.028%200-23.486%2011.29-18.31%2021.855%202.245%204.582%206.783%207.97%2012.583%209.394%203.937.968%207.28.977%2011.222.032z%27%20fill%3D%27none%27%20stroke%3D%27%23fff%27%20stroke-width%3D%272.735%27/%3E%3C/svg%3E"),
		url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='200' height='48'><text x='0' y='38' font-family='Gentium, serif' font-size='48' stroke='white' fill='white'>Bitergia</text></svg>"),
		url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3C%21--%20Created%20with%20Inkscape%20%28http%3A//www.inkscape.org/%29%20--%3E%0A%3Csvg%0A%20%20%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%0A%20%20%20xmlns%3Acc%3D%22http%3A//web.resource.org/cc/%22%0A%20%20%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%0A%20%20%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%0A%20%20%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20%20%20xmlns%3Asodipodi%3D%22http%3A//sodipodi.sourceforge.net/DTD/sodipodi-0.dtd%22%0A%20%20%20xmlns%3Ainkscape%3D%22http%3A//www.inkscape.org/namespaces/inkscape%22%0A%20%20%20width%3D%22120%22%0A%20%20%20height%3D%2242%22%0A%20%20%20id%3D%22svg2759%22%0A%20%20%20sodipodi%3Aversion%3D%220.32%22%0A%20%20%20inkscape%3Aversion%3D%220.45+devel%22%0A%20%20%20version%3D%221.0%22%0A%20%20%20sodipodi%3Adocname%3D%22by-sa.svg%22%0A%20%20%20inkscape%3Aoutput_extension%3D%22org.inkscape.output.svg.inkscape%22%3E%0A%20%20%3Cdefs%0A%20%20%20%20%20id%3D%22defs2761%22%20/%3E%0A%20%20%3Csodipodi%3Anamedview%0A%20%20%20%20%20id%3D%22base%22%0A%20%20%20%20%20pagecolor%3D%22%23ffffff%22%0A%20%20%20%20%20bordercolor%3D%22%238b8b8b%22%0A%20%20%20%20%20borderopacity%3D%221%22%0A%20%20%20%20%20gridtolerance%3D%2210000%22%0A%20%20%20%20%20guidetolerance%3D%2210%22%0A%20%20%20%20%20objecttolerance%3D%2210%22%0A%20%20%20%20%20inkscape%3Apageopacity%3D%220.0%22%0A%20%20%20%20%20inkscape%3Apageshadow%3D%222%22%0A%20%20%20%20%20inkscape%3Azoom%3D%221%22%0A%20%20%20%20%20inkscape%3Acx%3D%22179%22%0A%20%20%20%20%20inkscape%3Acy%3D%2289.569904%22%0A%20%20%20%20%20inkscape%3Adocument-units%3D%22px%22%0A%20%20%20%20%20inkscape%3Acurrent-layer%3D%22layer1%22%0A%20%20%20%20%20width%3D%22120px%22%0A%20%20%20%20%20height%3D%2242px%22%0A%20%20%20%20%20inkscape%3Ashowpageshadow%3D%22false%22%0A%20%20%20%20%20inkscape%3Awindow-width%3D%221198%22%0A%20%20%20%20%20inkscape%3Awindow-height%3D%22624%22%0A%20%20%20%20%20inkscape%3Awindow-x%3D%22488%22%0A%20%20%20%20%20inkscape%3Awindow-y%3D%22401%22%20/%3E%0A%20%20%3Cmetadata%0A%20%20%20%20%20id%3D%22metadata2764%22%3E%0A%20%20%20%20%3Crdf%3ARDF%3E%0A%20%20%20%20%20%20%3Ccc%3AWork%0A%20%20%20%20%20%20%20%20%20rdf%3Aabout%3D%22%22%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Aformat%3Eimage/svg+xml%3C/dc%3Aformat%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Atype%0A%20%20%20%20%20%20%20%20%20%20%20rdf%3Aresource%3D%22http%3A//purl.org/dc/dcmitype/StillImage%22%20/%3E%0A%20%20%20%20%20%20%3C/cc%3AWork%3E%0A%20%20%20%20%3C/rdf%3ARDF%3E%0A%20%20%3C/metadata%3E%0A%20%20%3Cg%0A%20%20%20%20%20inkscape%3Alabel%3D%22Layer%201%22%0A%20%20%20%20%20inkscape%3Agroupmode%3D%22layer%22%0A%20%20%20%20%20id%3D%22layer1%22%3E%0A%20%20%20%20%3Cg%0A%20%20%20%20%20%20%20transform%3D%22matrix%280.9937807%2C0%2C0%2C0.9936694%2C-177.69409%2C-74.436409%29%22%0A%20%20%20%20%20%20%20id%3D%22g287%22%0A%20%20%20%20%20%20%20inkscape%3Aexport-filename%3D%22/mnt/hgfs/Bov/Documents/Work/2007/cc/identity/srr%20buttons/big/by-sa.png%22%0A%20%20%20%20%20%20%20inkscape%3Aexport-xdpi%3D%22300.23013%22%0A%20%20%20%20%20%20%20inkscape%3Aexport-ydpi%3D%22300.23013%22%3E%0A%09%3Cpath%0A%20%20%20id%3D%22path3817_2_%22%0A%20%20%20nodetypes%3D%22ccccccc%22%0A%20%20%20d%3D%22M%20182.23532%2C75.39014%20L%20296.29928%2C75.59326%20C%20297.89303%2C75.59326%20299.31686%2C75.35644%20299.31686%2C78.77344%20L%20299.17721%2C116.34033%20L%20179.3569%2C116.34033%20L%20179.3569%2C78.63379%20C%20179.3569%2C76.94922%20179.51999%2C75.39014%20182.23532%2C75.39014%20z%22%0A%20%20%20style%3D%22fill%3A%23aab2ab%22%20/%3E%0A%0A%09%3Cg%0A%20%20%20id%3D%22g5908_2_%22%0A%20%20%20transform%3D%22matrix%280.872921%2C0%2C0%2C0.872921%2C50.12536%2C143.2144%29%22%3E%0A%09%09%0A%09%09%09%3Cpath%0A%20%20%20id%3D%22path5906_2_%22%0A%20%20%20cx%3D%22296.35416%22%0A%20%20%20ry%3D%2222.939548%22%0A%20%20%20cy%3D%22264.3577%22%0A%20%20%20type%3D%22arc%22%0A%20%20%20rx%3D%2222.939548%22%0A%20%20%20d%3D%22M%20187.20944%2C-55.6792%20C%20187.21502%2C-46.99896%20180.18158%2C-39.95825%20171.50134%2C-39.95212%20C%20162.82113%2C-39.94708%20155.77929%2C-46.97998%20155.77426%2C-55.66016%20C%20155.77426%2C-55.66687%20155.77426%2C-55.67249%20155.77426%2C-55.6792%20C%20155.76922%2C-64.36054%20162.80209%2C-71.40125%20171.48233%2C-71.40631%20C%20180.16367%2C-71.41193%20187.20441%2C-64.37842%20187.20944%2C-55.69824%20C%20187.20944%2C-55.69263%20187.20944%2C-55.68591%20187.20944%2C-55.6792%20z%22%0A%20%20%20style%3D%22fill%3A%23ffffff%22%20/%3E%0A%0A%09%09%3Cg%0A%20%20%20id%3D%22g5706_2_%22%0A%20%20%20transform%3D%22translate%28-289.6157%2C99.0653%29%22%3E%0A%09%09%09%3Cpath%0A%20%20%20id%3D%22path5708_2_%22%0A%20%20%20d%3D%22M%20473.88455%2C-167.54724%20C%20477.36996%2C-164.06128%20479.11294%2C-159.79333%20479.11294%2C-154.74451%20C%20479.11294%2C-149.69513%20477.40014%2C-145.47303%20473.9746%2C-142.07715%20C%20470.33929%2C-138.50055%20466.04281%2C-136.71283%20461.08513%2C-136.71283%20C%20456.18736%2C-136.71283%20451.96526%2C-138.48544%20448.42003%2C-142.03238%20C%20444.87419%2C-145.57819%20443.10158%2C-149.81537%20443.10158%2C-154.74451%20C%20443.10158%2C-159.6731%20444.87419%2C-163.94049%20448.42003%2C-167.54724%20C%20451.87523%2C-171.03375%20456.09728%2C-172.77618%20461.08513%2C-172.77618%20C%20466.13342%2C-172.77618%20470.39914%2C-171.03375%20473.88455%2C-167.54724%20z%20M%20450.76657%2C-165.20239%20C%20447.81982%2C-162.22601%20446.34701%2C-158.7395%20446.34701%2C-154.74005%20C%20446.34701%2C-150.7417%20447.80529%2C-147.28485%20450.72125%2C-144.36938%20C%20453.63778%2C-141.45288%20457.10974%2C-139.99462%20461.1383%2C-139.99462%20C%20465.16683%2C-139.99462%20468.66848%2C-141.46743%20471.64486%2C-144.41363%20C%20474.47076%2C-147.14947%20475.88427%2C-150.59069%20475.88427%2C-154.74005%20C%20475.88427%2C-158.85809%20474.44781%2C-162.35297%20471.57659%2C-165.22479%20C%20468.70595%2C-168.09546%20465.22671%2C-169.53131%20461.1383%2C-169.53131%20C%20457.04993%2C-169.53131%20453.59192%2C-168.08813%20450.76657%2C-165.20239%20z%20M%20458.52106%2C-156.49927%20C%20458.07074%2C-157.4809%20457.39673%2C-157.9715%20456.49781%2C-157.9715%20C%20454.90867%2C-157.9715%20454.11439%2C-156.90198%20454.11439%2C-154.763%20C%20454.11439%2C-152.62341%20454.90867%2C-151.55389%20456.49781%2C-151.55389%20C%20457.54719%2C-151.55389%20458.29676%2C-152.07519%20458.74647%2C-153.11901%20L%20460.94923%2C-151.94598%20C%20459.8993%2C-150.0805%20458.32417%2C-149.14697%20456.22374%2C-149.14697%20C%20454.60384%2C-149.14697%20453.30611%2C-149.64367%20452.33168%2C-150.63653%20C%20451.35561%2C-151.62994%20450.86894%2C-152.99926%20450.86894%2C-154.7445%20C%20450.86894%2C-156.46008%20451.37123%2C-157.82159%20452.37642%2C-158.83013%20C%20453.38161%2C-159.83806%20454.63347%2C-160.34264%20456.13423%2C-160.34264%20C%20458.35435%2C-160.34264%20459.94407%2C-159.46776%20460.90504%2C-157.71978%20L%20458.52106%2C-156.49927%20z%20M%20468.8844%2C-156.49927%20C%20468.43353%2C-157.4809%20467.77292%2C-157.9715%20466.90201%2C-157.9715%20C%20465.28095%2C-157.9715%20464.46988%2C-156.90198%20464.46988%2C-154.763%20C%20464.46988%2C-152.62341%20465.28095%2C-151.55389%20466.90201%2C-151.55389%20C%20467.95304%2C-151.55389%20468.68918%2C-152.07519%20469.10925%2C-153.11901%20L%20471.36126%2C-151.94598%20C%20470.31301%2C-150.0805%20468.74007%2C-149.14697%20466.64358%2C-149.14697%20C%20465.02587%2C-149.14697%20463.73095%2C-149.64367%20462.75711%2C-150.63653%20C%20461.78494%2C-151.62994%20461.29773%2C-152.99926%20461.29773%2C-154.7445%20C%20461.29773%2C-156.46008%20461.79221%2C-157.82159%20462.78061%2C-158.83013%20C%20463.76843%2C-159.83806%20465.02588%2C-160.34264%20466.55408%2C-160.34264%20C%20468.77027%2C-160.34264%20470.35776%2C-159.46776%20471.3154%2C-157.71978%20L%20468.8844%2C-156.49927%20z%22%20/%3E%0A%0A%09%09%3C/g%3E%0A%0A%09%3C/g%3E%0A%0A%09%3Cpath%0A%20%20%20d%3D%22M%20297.29639%2C74.91064%20L%20181.06688%2C74.91064%20C%20179.8203%2C74.91064%20178.80614%2C75.92529%20178.80614%2C77.17187%20L%20178.80614%2C116.66748%20C%20178.80614%2C116.94922%20179.03466%2C117.17822%20179.31639%2C117.17822%20L%20299.04639%2C117.17822%20C%20299.32813%2C117.17822%20299.55713%2C116.94922%20299.55713%2C116.66748%20L%20299.55713%2C77.17188%20C%20299.55713%2C75.92529%20298.54297%2C74.91064%20297.29639%2C74.91064%20z%20M%20181.06688%2C75.93213%20L%20297.29639%2C75.93213%20C%20297.97998%2C75.93213%20298.53565%2C76.48828%20298.53565%2C77.17188%20C%20298.53565%2C77.17188%20298.53565%2C93.09131%20298.53565%2C104.59034%20L%20215.4619%2C104.59034%20C%20212.41698%2C110.09571%20206.55077%2C113.83399%20199.81835%2C113.83399%20C%20193.083%2C113.83399%20187.21825%2C110.09913%20184.1748%2C104.59034%20L%20179.82666%2C104.59034%20C%20179.82666%2C93.09132%20179.82666%2C77.17188%20179.82666%2C77.17188%20C%20179.82664%2C76.48828%20180.38329%2C75.93213%20181.06688%2C75.93213%20z%22%0A%20%20%20id%3D%22path294%22%20/%3E%0A%0A%09%3Cg%0A%20%20%20enable-background%3D%22new%20%20%20%20%22%0A%20%20%20id%3D%22g296%22%3E%0A%09%09%3Cpath%0A%20%20%20d%3D%22M%20265.60986%2C112.8833%20C%20265.68994%2C113.03906%20265.79736%2C113.16504%20265.93115%2C113.26172%20C%20266.06494%2C113.35791%20266.22119%2C113.42969%20266.40088%2C113.47608%20C%20266.58154%2C113.52296%20266.76807%2C113.54639%20266.96045%2C113.54639%20C%20267.09033%2C113.54639%20267.22998%2C113.53565%20267.3794%2C113.51368%20C%20267.52784%2C113.4922%20267.66749%2C113.44972%20267.79835%2C113.3877%20C%20267.92823%2C113.32569%20268.03761%2C113.23975%20268.12355%2C113.13086%20C%20268.21144%2C113.02197%20268.25441%2C112.88379%20268.25441%2C112.71533%20C%20268.25441%2C112.53515%20268.19679%2C112.38916%20268.08156%2C112.27685%20C%20267.9673%2C112.16455%20267.81594%2C112.07177%20267.62941%2C111.99658%20C%20267.44386%2C111.92236%20267.23195%2C111.85693%20266.9966%2C111.80078%20C%20266.76027%2C111.74463%20266.52101%2C111.68262%20266.27883%2C111.61377%20C%20266.02981%2C111.55176%20265.78762%2C111.47559%20265.55129%2C111.38525%20C%20265.31594%2C111.29541%20265.10402%2C111.17822%20264.9175%2C111.03515%20C%20264.73098%2C110.89208%20264.58059%2C110.71337%20264.46535%2C110.49853%20C%20264.35109%2C110.28369%20264.29347%2C110.02392%20264.29347%2C109.71923%20C%20264.29347%2C109.37646%20264.36671%2C109.07958%20264.51222%2C108.82763%20C%20264.6587%2C108.57568%20264.85011%2C108.36572%20265.08644%2C108.19726%20C%20265.32179%2C108.02929%20265.58937%2C107.90478%20265.8882%2C107.82372%20C%20266.18605%2C107.74315%20266.48488%2C107.70263%20266.78273%2C107.70263%20C%20267.13136%2C107.70263%20267.46535%2C107.74169%20267.78566%2C107.81982%20C%20268.105%2C107.89746%20268.39015%2C108.02392%20268.6382%2C108.19824%20C%20268.88722%2C108.37256%20269.08449%2C108.59521%20269.23097%2C108.86621%20C%20269.37648%2C109.13721%20269.44972%2C109.46582%20269.44972%2C109.85156%20L%20268.02784%2C109.85156%20C%20268.01514%2C109.65234%20267.97315%2C109.4873%20267.90284%2C109.35693%20C%20267.83155%2C109.22607%20267.73682%2C109.12353%20267.61964%2C109.04834%20C%20267.50148%2C108.97412%20267.36671%2C108.9209%20267.21534%2C108.89014%20C%20267.063%2C108.85889%20266.89796%2C108.84326%20266.71827%2C108.84326%20C%20266.60108%2C108.84326%20266.48292%2C108.85596%20266.36573%2C108.88037%20C%20266.24757%2C108.90576%20266.14112%2C108.94922%20266.04542%2C109.01123%20C%20265.94874%2C109.07373%20265.86964%2C109.15137%20265.80812%2C109.24463%20C%20265.7466%2C109.33838%20265.71535%2C109.45654%20265.71535%2C109.59961%20C%20265.71535%2C109.73047%20265.73976%2C109.83643%20265.78957%2C109.91699%20C%20265.83937%2C109.99804%20265.93801%2C110.07275%20266.08352%2C110.14111%20C%20266.22903%2C110.20947%20266.43118%2C110.27832%20266.68899%2C110.34668%20C%20266.9468%2C110.41504%20267.28372%2C110.50244%20267.70071%2C110.60791%20C%20267.82473%2C110.63281%20267.99661%2C110.67822%20268.21731%2C110.74365%20C%20268.43801%2C110.80908%20268.65676%2C110.91308%20268.87454%2C111.05615%20C%20269.09231%2C111.1997%20269.27981%2C111.39111%20269.43899%2C111.63037%20C%20269.59719%2C111.87012%20269.67629%2C112.17676%20269.67629%2C112.55029%20C%20269.67629%2C112.85547%20269.61672%2C113.13867%20269.49856%2C113.3999%20C%20269.3804%2C113.66162%20269.20461%2C113.8872%20268.97122%2C114.07666%20C%20268.73782%2C114.26709%20268.44876%2C114.41455%20268.10403%2C114.52051%20C%20267.75833%2C114.62647%20267.35794%2C114.6792%20266.90481%2C114.6792%20C%20266.53762%2C114.6792%20266.18118%2C114.63379%20265.83547%2C114.54346%20C%20265.49074%2C114.45313%20265.18508%2C114.31104%20264.92043%2C114.11768%20C%20264.65676%2C113.92432%20264.4468%2C113.67774%20264.29055%2C113.37891%20C%20264.13528%2C113.07959%20264.06106%2C112.7251%20264.06692%2C112.31397%20L%20265.4888%2C112.31397%20C%20265.48877%2C112.53809%20265.52881%2C112.72803%20265.60986%2C112.8833%20z%22%0A%20%20%20id%3D%22path298%22%0A%20%20%20style%3D%22fill%3A%23ffffff%22%20/%3E%0A%0A%09%09%3Cpath%0A%20%20%20d%3D%22M%20273.8667%2C107.8667%20L%20276.35986%2C114.53076%20L%20274.8374%2C114.53076%20L%20274.33349%2C113.04638%20L%20271.84033%2C113.04638%20L%20271.31787%2C114.53076%20L%20269.84326%2C114.53076%20L%20272.36377%2C107.8667%20L%20273.8667%2C107.8667%20z%20M%20273.95068%2C111.95264%20L%20273.11084%2C109.50928%20L%20273.09229%2C109.50928%20L%20272.22315%2C111.95264%20L%20273.95068%2C111.95264%20z%22%0A%20%20%20id%3D%22path300%22%0A%20%20%20style%3D%22fill%3A%23ffffff%22%20/%3E%0A%0A%09%3C/g%3E%0A%0A%09%3Cg%0A%20%20%20enable-background%3D%22new%20%20%20%20%22%0A%20%20%20id%3D%22g302%22%3E%0A%09%09%3Cpath%0A%20%20%20d%3D%22M%20239.17821%2C107.8667%20C%20239.49559%2C107.8667%20239.78563%2C107.89502%20240.04735%2C107.95068%20C%20240.30907%2C108.00683%20240.53368%2C108.09863%20240.72118%2C108.22607%20C%20240.9077%2C108.35351%20241.05321%2C108.52295%20241.15575%2C108.73437%20C%20241.25829%2C108.94579%20241.31005%2C109.20703%20241.31005%2C109.51806%20C%20241.31005%2C109.854%20241.23388%2C110.13329%20241.08056%2C110.35742%20C%20240.92822%2C110.58154%20240.70165%2C110.76465%20240.40283%2C110.90771%20C%20240.81494%2C111.02587%20241.12256%2C111.23291%20241.32568%2C111.5288%20C%20241.5288%2C111.82469%20241.63037%2C112.18114%20241.63037%2C112.59814%20C%20241.63037%2C112.93408%20241.56494%2C113.22509%20241.43408%2C113.47119%20C%20241.30322%2C113.7168%20241.12646%2C113.91748%20240.90576%2C114.07324%20C%20240.68408%2C114.229%20240.43115%2C114.34424%20240.14795%2C114.41845%20C%20239.86377%2C114.49365%20239.57275%2C114.53075%20239.27295%2C114.53075%20L%20236.03662%2C114.53075%20L%20236.03662%2C107.86669%20L%20239.17821%2C107.86669%20L%20239.17821%2C107.8667%20z%20M%20238.99071%2C110.56201%20C%20239.25243%2C110.56201%20239.46727%2C110.5%20239.63622%2C110.37597%20C%20239.80419%2C110.25146%20239.88817%2C110.05029%20239.88817%2C109.77099%20C%20239.88817%2C109.61572%20239.85985%2C109.48828%20239.80419%2C109.38915%20C%20239.74755%2C109.28954%20239.67333%2C109.21239%20239.57958%2C109.15624%20C%20239.48583%2C109.10058%20239.37841%2C109.06151%20239.25731%2C109.04003%20C%20239.13524%2C109.01806%20239.00926%2C109.00732%20238.8784%2C109.00732%20L%20237.50535%2C109.00732%20L%20237.50535%2C110.56201%20L%20238.99071%2C110.56201%20z%20M%20239.07664%2C113.39014%20C%20239.22019%2C113.39014%20239.35691%2C113.37647%20239.48777%2C113.34815%20C%20239.61863%2C113.32032%20239.73484%2C113.27344%20239.83445%2C113.2085%20C%20239.93406%2C113.14307%20240.01316%2C113.0542%20240.07273%2C112.94239%20C%20240.1323%2C112.83058%20240.1616%2C112.68751%20240.1616%2C112.51319%20C%20240.1616%2C112.17139%20240.06492%2C111.92725%20239.87156%2C111.78126%20C%20239.6782%2C111.63527%20239.42234%2C111.56202%20239.10496%2C111.56202%20L%20237.50535%2C111.56202%20L%20237.50535%2C113.39014%20L%20239.07664%2C113.39014%20z%22%0A%20%20%20id%3D%22path304%22%0A%20%20%20style%3D%22fill%3A%23ffffff%22%20/%3E%0A%0A%09%09%3Cpath%0A%20%20%20d%3D%22M%20241.88914%2C107.8667%20L%20243.53269%2C107.8667%20L%20245.09324%2C110.49854%20L%20246.64402%2C107.8667%20L%20248.27781%2C107.8667%20L%20245.80418%2C111.97315%20L%20245.80418%2C114.53077%20L%20244.33543%2C114.53077%20L%20244.33543%2C111.93604%20L%20241.88914%2C107.8667%20z%22%0A%20%20%20id%3D%22path306%22%0A%20%20%20style%3D%22fill%3A%23ffffff%22%20/%3E%0A%0A%09%3C/g%3E%0A%0A%09%3Cg%0A%20%20%20id%3D%22g6316_1_%22%0A%20%20%20transform%3D%22matrix%280.624995%2C0%2C0%2C0.624995%2C391.2294%2C176.9332%29%22%3E%0A%09%09%0A%09%09%09%3Cpath%0A%20%20%20id%3D%22path6318_1_%22%0A%20%20%20cx%3D%22475.97119%22%0A%20%20%20ry%3D%2229.209877%22%0A%20%20%20cy%3D%22252.08646%22%0A%20%20%20type%3D%22arc%22%0A%20%20%20rx%3D%2229.209877%22%0A%20%20%20d%3D%22M%20-175.0083%2C-139.1153%20C%20-175.00204%2C-129.7035%20-182.62555%2C-122.06751%20-192.03812%2C-122.06049%20C%20-201.44913%2C-122.05341%20-209.08512%2C-129.67774%20-209.09293%2C-139.09028%20C%20-209.09293%2C-139.09809%20-209.09293%2C-139.10749%20-209.09293%2C-139.1153%20C%20-209.09919%2C-148.52784%20-201.47413%2C-156.1623%20-192.06311%2C-156.17011%20C%20-182.65054%2C-156.17713%20-175.01456%2C-148.55207%20-175.0083%2C-139.14026%20C%20-175.0083%2C-139.13092%20-175.0083%2C-139.1239%20-175.0083%2C-139.1153%20z%22%0A%20%20%20style%3D%22fill%3A%23ffffff%22%20/%3E%0A%0A%09%09%3Cg%0A%20%20%20id%3D%22g6320_1_%22%0A%20%20%20transform%3D%22translate%28-23.9521%2C-89.72962%29%22%3E%0A%09%09%09%3Cpath%0A%20%20%20id%3D%22path6322_1_%22%0A%20%20%20d%3D%22M%20-168.2204%2C-68.05536%20C%20-173.39234%2C-68.05536%20-177.76892%2C-66.25067%20-181.35175%2C-62.64203%20C%20-185.02836%2C-58.90759%20-186.86588%2C-54.48883%20-186.86588%2C-49.38568%20C%20-186.86588%2C-44.28253%20-185.02836%2C-39.89416%20-181.35175%2C-36.22308%20C%20-177.67673%2C-32.55114%20-173.29859%2C-30.71521%20-168.2204%2C-30.71521%20C%20-163.07974%2C-30.71521%20-158.62503%2C-32.56677%20-154.85312%2C-36.26996%20C%20-151.30307%2C-39.78558%20-149.52652%2C-44.15827%20-149.52652%2C-49.38568%20C%20-149.52652%2C-54.6123%20-151.33432%2C-59.03265%20-154.94843%2C-62.64203%20C%20-158.5625%2C-66.25067%20-162.98599%2C-68.05536%20-168.2204%2C-68.05536%20z%20M%20-168.17352%2C-64.69519%20C%20-163.936%2C-64.69519%20-160.33752%2C-63.20221%20-157.37655%2C-60.21466%20C%20-154.38748%2C-57.25836%20-152.89214%2C-53.64899%20-152.89214%2C-49.38568%20C%20-152.89214%2C-45.09186%20-154.35466%2C-41.52856%20-157.28438%2C-38.69653%20C%20-160.36876%2C-35.64727%20-163.99849%2C-34.12304%20-168.17351%2C-34.12304%20C%20-172.34856%2C-34.12304%20-175.94701%2C-35.63244%20-178.96892%2C-38.64965%20C%20-181.9908%2C-41.66918%20-183.50176%2C-45.24657%20-183.50176%2C-49.38567%20C%20-183.50176%2C-53.52398%20-181.97518%2C-57.13414%20-178.92205%2C-60.21465%20C%20-175.9939%2C-63.20221%20-172.41107%2C-64.69519%20-168.17352%2C-64.69519%20z%22%20/%3E%0A%0A%09%09%09%3Cpath%0A%20%20%20id%3D%22path6324_1_%22%0A%20%20%20d%3D%22M%20-176.49548%2C-52.02087%20C%20-175.75171%2C-56.71856%20-172.44387%2C-59.22949%20-168.30008%2C-59.22949%20C%20-162.33911%2C-59.22949%20-158.70783%2C-54.90448%20-158.70783%2C-49.1372%20C%20-158.70783%2C-43.50982%20-162.57194%2C-39.13793%20-168.39383%2C-39.13793%20C%20-172.39856%2C-39.13793%20-175.98297%2C-41.60277%20-176.63611%2C-46.43877%20L%20-171.93292%2C-46.43877%20C%20-171.7923%2C-43.92778%20-170.1626%2C-43.04418%20-167.83447%2C-43.04418%20C%20-165.1813%2C-43.04418%20-163.4563%2C-45.50908%20-163.4563%2C-49.27709%20C%20-163.4563%2C-53.22942%20-164.94693%2C-55.32244%20-167.74228%2C-55.32244%20C%20-169.79074%2C-55.32244%20-171.55948%2C-54.57787%20-171.93292%2C-52.02087%20L%20-170.56418%2C-52.02789%20L%20-174.26734%2C-48.32629%20L%20-177.96894%2C-52.02789%20L%20-176.49548%2C-52.02087%20z%22%20/%3E%0A%0A%09%09%3C/g%3E%0A%0A%09%3C/g%3E%0A%0A%09%3Cg%0A%20%20%20id%3D%22g313%22%3E%0A%09%09%3Ccircle%0A%20%20%20cx%3D%22242.56226%22%0A%20%20%20cy%3D%2290.224609%22%0A%20%20%20r%3D%2210.8064%22%0A%20%20%20id%3D%22circle315%22%0A%20%20%20sodipodi%3Acx%3D%22242.56226%22%0A%20%20%20sodipodi%3Acy%3D%2290.224609%22%0A%20%20%20sodipodi%3Arx%3D%2210.8064%22%0A%20%20%20sodipodi%3Ary%3D%2210.8064%22%0A%20%20%20style%3D%22fill%3A%23ffffff%22%20/%3E%0A%0A%09%09%3Cg%0A%20%20%20id%3D%22g317%22%3E%0A%09%09%09%3Cpath%0A%20%20%20d%3D%22M%20245.68994%2C87.09766%20C%20245.68994%2C86.68116%20245.35205%2C86.34424%20244.93603%2C86.34424%20L%20240.16357%2C86.34424%20C%20239.74755%2C86.34424%20239.40966%2C86.68115%20239.40966%2C87.09766%20L%20239.40966%2C91.87061%20L%20240.74071%2C91.87061%20L%20240.74071%2C97.52295%20L%20244.3579%2C97.52295%20L%20244.3579%2C91.87061%20L%20245.68993%2C91.87061%20L%20245.68993%2C87.09766%20L%20245.68994%2C87.09766%20z%22%0A%20%20%20id%3D%22path319%22%20/%3E%0A%0A%09%09%09%3Ccircle%0A%20%20%20cx%3D%22242.5498%22%0A%20%20%20cy%3D%2284.083008%22%0A%20%20%20r%3D%221.63232%22%0A%20%20%20id%3D%22circle321%22%0A%20%20%20sodipodi%3Acx%3D%22242.5498%22%0A%20%20%20sodipodi%3Acy%3D%2284.083008%22%0A%20%20%20sodipodi%3Arx%3D%221.63232%22%0A%20%20%20sodipodi%3Ary%3D%221.63232%22%20/%3E%0A%0A%09%09%3C/g%3E%0A%0A%09%09%3Cpath%0A%20%20%20clip-rule%3D%22evenodd%22%0A%20%20%20d%3D%22M%20242.53467%2C78.31836%20C%20239.30322%2C78.31836%20236.56641%2C79.4458%20234.32715%2C81.70215%20C%20232.0293%2C84.03516%20230.88086%2C86.79736%20230.88086%2C89.98633%20C%20230.88086%2C93.1753%20232.0293%2C95.91846%20234.32715%2C98.21338%20C%20236.625%2C100.50781%20239.36133%2C101.65527%20242.53467%2C101.65527%20C%20245.74756%2C101.65527%20248.53272%2C100.49853%20250.88819%2C98.18359%20C%20253.10889%2C95.98681%20254.21827%2C93.2539%20254.21827%2C89.98632%20C%20254.21827%2C86.71874%20253.08936%2C83.95751%20250.83057%2C81.70214%20C%20248.57178%2C79.4458%20245.80615%2C78.31836%20242.53467%2C78.31836%20z%20M%20242.56396%2C80.41797%20C%20245.2124%2C80.41797%20247.46142%2C81.35156%20249.31103%2C83.21875%20C%20251.18115%2C85.06592%20252.11572%2C87.32227%20252.11572%2C89.98633%20C%20252.11572%2C92.66992%20251.20068%2C94.89746%20249.36963%2C96.66699%20C%20247.4419%2C98.57275%20245.17334%2C99.52539%20242.56397%2C99.52539%20C%20239.9546%2C99.52539%20237.70557%2C98.58252%20235.81739%2C96.6958%20C%20233.92774%2C94.80957%20232.98389%2C92.57324%20232.98389%2C89.98633%20C%20232.98389%2C87.3999%20233.93799%2C85.14404%20235.84619%2C83.21875%20C%20237.67676%2C81.35156%20239.9165%2C80.41797%20242.56396%2C80.41797%20z%22%0A%20%20%20id%3D%22path323%22%0A%20%20%20style%3D%22fill-rule%3Aevenodd%22%20/%3E%0A%0A%09%3C/g%3E%0A%0A%3C/g%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E");
    background-size: 2%, 6%, 6%;
    background-repeat: no-repeat;
    background-position: 1% 98%, 3% 98%, 50% 98%;
}

.reveal p, .reveal li {
	letter-spacing: 1px;
	word-spacing: 2px;
	line-height: 1.5;
	margin: 0 auto 0.5em;
}

.reveal li li {
	font-size: 90%;
}